<h1>Editing Store</h1>

<%= render 'form', store: @store %>

<p></p>

<div class="ui buttons">

<%= link_to 'Show', @store ,:class =>"ui button"%> 
<div class="or"></div>

<%= link_to 'Back', stores_path ,:class =>"ui positive button"%>

</div>